.App {
  transform: translateY(35vh);
  transition: all 1s;

  &__header {
    padding: 1.5rem 0;
    text-align: center;
    color: $color-white;
    text-transform: uppercase;

    &__main {
      font-weight: 700;
      font-size: 3rem;
    }

    &__sub {
      font-size: 1.25rem;
      font-weight: inherit;
      letter-spacing: 1rem;
    }
  }

  &__searchFail {
    color: $color-white;
    text-align: center;
    margin-top: 3rem;
    font-size: 1.3rem;
  }
}

.animate {
  animation: moveOnTop 1s forwards;
}

@keyframes moveOnTop {
  from { transform: translateY(35vh); }
  to { transform: translateY(0); }
}