.Article {
  margin: 0 auto;
  position: relative;
  padding: 1.5rem;
  line-height: 1.5rem;
  border-radius: .3rem;
  transition: all .3s;
  box-shadow: 0 .5rem .5rem rgba($color-black, .8) inset,
    0 -.5rem .5rem rgba($color-black, .8) inset;
  animation: appearFromBottom .3s backwards;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 2.5%;
    width: 95%;
    // margin: 0 auto;
    height: 100%;
    border-left: 2px dashed rgba($color-black, .5);
    border-right: 2px dashed rgba($color-black, .5);
  }

  &__header {
    font-size: 1.3rem;
    color: $color-grey-light;
  }

  &__text {
    font-size: 1.1rem;
    color: $color-white;
  }

  &__link,
  &__link:visited {
    padding: .2rem;
    color: $color-secondary;
    background-color: $color-primary;
    text-decoration: none;
    transition: all .2s;
    box-shadow: 
      1px 0 $color-primary-light,
      0 1px $color-primary-dark,
      2px 1px $color-primary-light,
      1px 2px $color-primary-dark,
      3px 2px $color-primary-light,
      2px 3px $color-primary-dark,
      4px 3px $color-primary-light,
      3px 4px $color-primary-dark;
  }

  &__link:hover {
    color: $color-secondary-dark;
  }
}


@keyframes appearFromBottom {
  from { transform: translateY(600vh); }
  to { transform: translateY(0); }
}