.Article {
  margin: 2rem 0;
  padding: 1.5rem;
  line-height: 1.5rem;
  background-image: linear-gradient(135deg,
    $color-black, 
    $color-primary-light 60%, 
    transparent 60%,
    transparent 63%,
    $color-primary-light 63%,
    $color-secondary
  );
  border-radius: .3rem;
  transition: all .3s;
  text-shadow: 1px 1px rgba($color-black, .6);

  &__header {
    font-size: 1.3rem;
    color: $color-grey-light;
  }

  &__text {
    font-size: 1.1rem;
    color: $color-white;
  }

  &__link,
  &__link:visited {
    padding: .2rem;
    color: $color-secondary;
    background-color: $color-primary;
    text-decoration: none;
    transition: all .2s;
    box-shadow: 
      1px 0 $color-primary-light,
      0 1px $color-primary-dark,
      2px 1px $color-primary-light,
      1px 2px $color-primary-dark,
      3px 2px $color-primary-light,
      2px 3px $color-primary-dark,
      4px 3px $color-primary-light,
      3px 4px $color-primary-dark;
  }

  &__link:hover {
    color: $color-secondary-dark;
  }
}