$color-white: #f3f3f3;
$color-black: #0a0a0a;
$color-grey-light: #e4e4e4;
$color-grey: #a0a0a0;
$color-grey-dark: #6d6d6d;

$color-primary: #42045f;
$color-primary-dark: #2d0241;
$color-primary-light: #751692;
$color-secondary: #cc9f0d;
$color-secondary-dark: #b66f06;
$color-secondary-light: #e0de36;

// Media Query Manager
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (min-width: 550px) { @content };
  }
  @if $breakpoint == tablet {
    @media only screen and (min-width: 768px) { @content };
  }
  @if $breakpoint == laptop {
    @media only screen and (min-width: 1024px) { @content }; 
  }
  @if $breakpoint == laptop-lg {
    @media only screen and (min-width: 1300px) { @content };
  }
}